  {% extends 'core/base.html' %}
	{% block title %} Home{% endblock %}
  {% load static %}
	{% block content %}
      <div class="App__main-view">
        <div class="App__top-gradient"></div>
        <div class="App__header-placeholder">
        </div>
        {% if request.user.is_authenticated %}
        <section class="App__section App__quick-links">
          <h1>{{ greeting }}</h1>
          <div class="App__quick-links-container">
            <a href="{% url 'core:liked' %}">
              <div class="App__quick-link">
                <div class="App__quick-link-featured-img">♥</div>
                <span>Liked</span>
              </div>
          </a>
            {% for playlist in user_playlist %}
              <a href="{% url 'core:playlist-songs' playlist.owner.name playlist.id %}">
                <div class="App__quick-link">
                  <div class="App__quick-link-featured-img" style="background-image: url('{{ playlist.cover.url }}');"></div>
                  <span>{{ playlist.playlist_name }}</span>
                </div>
              </a>
            {% endfor %}
            </div>
        </section>
        {% else %}
        <section class="App__section App__quick-links">
          <h1>Good afternoon</h1>
          <div class="App__quick-links-container">
            <a href="{% url 'core:liked' %}">
              <div class="App__quick-link">
                <div class="App__quick-link-featured-img">♥</div>
                <span>Liked</span>
              </div>
            </a>
            {% if playlists|length >= 10 %}
                {% for playlist in playlists %}
                  {% if forloop.counter <= 5 %}
                  <a href="{% url 'core:playlist-songs' playlist.owner.name playlist.id %}">
                    <div class="App__quick-link">
                      <div class="App__quick-link-featured-img" style="background-image: url('{{ playlist.cover.url }}');"></div>
                      <span>{{ playlist.playlist_name }}</span>
                    </div>
                  </a>
                  {% endif %}
                {% endfor %}
            {% endif %}
          </div>
        </section>
        {% endif %}
        <section class="App__section App__your-shows">
          <div class="App__section-header">
            <h3>New Albums</h3>
            <span>SEE ALL</span>
          </div>
          <div class="App__section-grid-container">
            {% for album in albums %}
            <a href="{% url 'core:album-songs' album.owner.name album.id %}">
              <div class="App__section-grid-item">
                <div class="featured-image" style="background-image: url('{{ album.cover.url }}');"></div>
                <h3>{{ album.album_name }}</h3>
                <span style="display: flex">
                  {{ album.owner.username }}<img src="{% static 'images/check.png' %}" width="16px;" style="margin-left: 3px;">
                </span>
              </div>
            </a>
              {% endfor %}
            </div>
        </section>
        <section class="App__section App__your-shows">
          <div class="App__section-header">
            <h3>New Playlists</h3>
            <span>SEE ALL</span>
          </div>
          <div class="App__section-grid-container">
            {% for playlist in playlists %}
            <a href="{% url 'core:playlist-songs' playlist.owner.name playlist.id %}">

              <div class="App__section-grid-item">
                <div class="featured-image" style="background-image: url('{{ playlist.cover.url }}');">
                  <!-- <img src="{{ playlist.cover.url }}" alt="" class="featured-image"> -->
                </div>
                <h3>{{ playlist.playlist_name }}</h3>
                <span style="display: flex;">
                  {{ playlist.owner.username }}
                  {% if playlist.owner.is_superuser %}
                  <img src="{% static 'images/check.png' %}" width="16px;" style="margin-left: 3px;">
                  <img src="{% static 'images/crown.png' %}" width="16px;" style="margin-left: 3px;">
                  {% endif %}
                </span>
              </div>
              {% endfor %}
            </div>
          </a>
        </section>
      </div>
    

	{% endblock content %}
