<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

	<div>	
		<form type="submit" method="GET" action="">
			<input type="text" name="query" placeholder="Search"><br>
			<button>Search</button>
		</form>	
			{% if request.user.is_authenticated %}
				<span>{{ request.user }}</span>.........................<span><a href='{% url 'core:logout' %}'>LogOut</a></span>
			{% else %}
			<a href="{% url 'core:login' %}">
				<p>Login</p>
			</a>
			<a href="{% url 'core:signup' %}">
				<p>Sign Up</p>
			</a>
	
			{% endif %}
		<ul>
			{% for list in playlists %}
			<a href='{% url 'core:songs' list.id %}'>
				<li>{{ list.playlist_name }} by <a href="{% url 'core:profile' list.owner.username %}">{{ list.owner.username }}</a>  ---  {{ list.playlist_likes.count }} likes |<a href="{% url 'core:likeplaylist' list.id %}">like</a></li>
			</a>
			{% endfor %}
		</ul>
		<hr>
		{% if request.user.is_authenticated %}
			<a href='{% url 'core:newplaylist' %}'>
				Create A New Playlist!
			</a>
		{% endif %}

	</div>

  </body>

</html>