<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

	<div>
		{% if request.user.is_authenticated %}
			<span>{{ request.user }}</span>.........................<span><a href='{% url 'core:logout' %}'>LogOut</a></span>
		{% else %}
		<a href="{% url 'core:login' %}">
			<p>Login</p>
		</a>
		<a href="{% url 'core:signup' %}">
			<p>Sign Up</p>
		</a>

		{% endif %}
		<ul>
			{% for list in playlists %}
			<a href='{% url 'core:songs' list.id %}'>
				<li>{{ list.playlist_name }} by {{ list.owner.name }}</li>
			</a>
			{% endfor %}
		</ul>

	</div>

  </body>

</html>