{% extends 'core/base.html' %}
{% block title %} Home{% endblock %}
{% block content %}
<div class="App__main-view">
	<div class="App__top-gradient"></div>
	<div class="App__header-placeholder"></div>
	{% if albums %}
	<section class="App__section App__your-shows">
		<div class="App__section-header">
		  <h3>Your Albums</h3>
		  <span>SEE ALL</span>
		</div>
		<div class="App__section-grid-container">
		  {% for album in albums %}
		  <a href="{% url 'core:album-songs' album.id %}">
			<div class="App__section-grid-item">
			  <div class="featured-image" style="background-image: url('{{ album.cover.url }}');"></div>
			  <h3>{{ album.album_name }}</h3>
			  <span>{{ album.owner.username }}</span>
			</div>
		  </a>
			{% endfor %}
		  </div>
	  </section>
	  {% endif %}
	  {% if playlists %}
	  <section class="App__section App__your-shows">
		<div class="App__section-header">
		  <h3>Your Playlists</h3>
		  <span>SEE ALL</span>
		</div>
		<div class="App__section-grid-container">
		  {% for playlist in playlists %}
		  <a href="{% url 'core:playlist-songs' playlist.id %}">

			<div class="App__section-grid-item">
			  <div class="featured-image" style="background-image: url('{{ playlist.cover.url }}');">
				<!-- <img src="{{ playlist.cover.url }}" alt="" class="featured-image"> -->
			  </div>
			  <h3>{{ playlist.playlist_name }}</h3>
			  <span>{{ playlist.owner.username }}</span>
			</div>
			{% endfor %}
		  </div>
		</a>
	  </section>
	  {% endif %}
	  
	  {% if liked_playlists %}
	  <section class="App__section App__your-shows">
		<div class="App__section-header">
		  <h3>Liked Playlists</h3>
		  <span>SEE ALL</span>
		</div>
		<div class="App__section-grid-container">
		  {% for likedPl in liked_playlists %}
		  <a href="{% url 'core:playlist-songs' likedPl.playlist.id %}">

			<div class="App__section-grid-item">
			  <div class="featured-image" style="background-image: url('{{ likedPl.playlist.cover.url }}');">
				<!-- <img src="{{ playlist.cover.url }}" alt="" class="featured-image"> -->
			  </div>
			  <h3>{{ likedPl.playlist.playlist_name }}</h3>
			  <span>{{ likedPl.playlist.owner.username }}</span>
			</div>
		</a>
		{% endfor %}
		</div>
	  </section>
	  {% endif %}
	  {% if liked_albums %}
	  <section class="App__section App__your-shows">
		<div class="App__section-header">
		  <h3>Liked Albums</h3>
		  <span>SEE ALL</span>
		</div>
		<div class="App__section-grid-container">
		  {% for likedAl in liked_albums %}
		  <a href="{% url 'core:album-songs' likedAl.album.id %}">

			<div class="App__section-grid-item">
			  <div class="featured-image" style="background-image: url('{{ likedAl.album.cover.url }}');">
				<!-- <img src="{{ playlist.cover.url }}" alt="" class="featured-image"> -->
			  </div>
			  <h3>{{ likedAl.album.album_name }}</h3>
			  <span>{{ likedAl.album.owner.username }}</span>
			</div>
		</a>
		{% endfor %}
		</div>
	  </section>
	  {% endif %}
</div>
{% endblock %}
