{% extends 'core/base.html' %}
{% block title %} Login{% endblock %}


{% block content %}
<div class="App__main-view">
	<div class="App__top-gradient"></div>
	<div class="App__header-placeholder"></div>
	<section class="playlist_form-container">
		<div class="App__section-header">
            <h3>Login</h3>
		</div>
		<div class="form-wrapper">
			<form method="post" enctype="multipart/form-data" class="playlist-form">
				{% csrf_token %}
				<div class="form-group">
					<label for="{{ form.username.id_for_label }}">Username:</label>
					{{ form.username }}
				</div>
				<div class="form-group">
					<label for="{{ form.username.id_for_label }}">Password:</label>
					{{ form.password }}
				</div>
				<button type="submit">Login</button>
			</form>
			<br>
			<small style="display: flex; flex-direction: column; align-items: center; gap: 20px;">
				<a href="{% url 'core:signup' %}" onmouseover="this.style.opacity=0.7;" onmouseout="this.style.opacity=1;">
					Sign Up
				</a>
				<a href="{% url 'password_reset:password_reset' %}" onmouseover="this.style.opacity=0.7;" onmouseout="this.style.opacity=1;">
					Forgot Password?
				</a>
			</small>
		</div>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li style="list-style-type: none;"><small>{{ message }}</small></li>
			{% endfor %}
		</ul>
	{% endif %}
	</section>

</div>

{% endblock %}