{% extends 'core/base.html' %}
{% block title %} Home{% endblock %}
{% load static %}
{% block content %}
<div class="App__main-view">
	<div class="App__top-gradient">
	</div>
	<section class="App__section" style="margin-top: 10px;">
		<div class="songs_container" style="height: 100vh;">
			<div class="description" style="display: flex; gap: 20px;">
				<div class="playlist-image">
					<img src="{{ playlist.cover.url }}" width="200px;" style="border-radius: 7px; flex: 1;">
				</div>
				<div class="playlist-info" style="flex: 2; display: flex; flex-direction: column; justify-content: space-around;">
					<div>
						<h5>Playlist</h5>
						<h3>{{ playlist.playlist_name }}</h3>
						<small>by<a href="{% url 'core:profile' playlist.owner.username %}"> {{ playlist.owner }}</a></small><br>
						<small class="playlist__likes-count" style="font-size: 12px;">
							{{ playlist.playlist_likes.count }} like{% if playlist.playlist_likes.count != 1 %}s{% endif %}
						  </small>						  
					</div>
					<div class="buttons" style="display: flex; gap: 10px; justify-content: start;">
						{% if request.user.is_authenticated %}
							{% if is_liked %}
							<div style="position: relative; top: -5px;">
								<span class="like-icon" style="filter: grayscale(0%);font-size: 20px; margin-bottom: 10px; cursor: pointer;" data-playlist-id="{{ playlist.id }}">❤️</span>
							</div>
							{% else %}
							<div style="position: relative; top: -5px;">
								<span class="like-icon" style="filter: grayscale(100%); font-size: 20px; margin-bottom: 10px; cursor: pointer;" data-playlist-id="{{ playlist.id }}">❤️</span>
							</div>
							{% endif %}
						{% else %}
						<div style="position: relative; top: -5px;">
							<span style="filter: grayscale(100%); font-size: 20px; margin-bottom: 10px; cursor: pointer;">
									❤️
							</span>
						</div>
						{% endif %}
						
						
						<div class="download__playlist-btn">
							<a href="{% url 'core:download_playlist' playlist.id %}">
								<img src="{% static 'images/dload1.png' %}" onmouseover="this.style.opacity=0.7;" onmouseout="this.style.opacity=1;" width="20px;" style="margin-right: 6px;">
							</a>
						</div>
						<div class="menu-container" style="position: relative; display: inline-block;">
							<img src="{% static 'images/more3.png' %}" width="20px;" style="margin-right: 6px;" id="menu-toggle">
							<div class="menu" style="position: absolute; z-index: 999; padding: 10px; display: none;" id="menu-options">
								<ul style="list-style-type: none; padding: 0; display: flex; flex-direction: column; justify-content: center;">
									{% if request.user.is_authenticated %}
										{% if request.user == playlist.owner %}
											<li>
												<img src="{% static 'images/Add.png' %}" alt="" width="23px;">
												<a href="{% url 'core:addsongPl' playlist.id %}">
													Add Songs
												</a>
											</li>
											<li>
												<img src="{% static 'images/Save.png' %}" alt="" width="23px;">
												<a href="#">
													Save
												</a>
											</li>
											<li>
												<img src="{% static 'images/Delete.png' %}" alt="" width="23px;">
												<a href="{% url 'core:deleteplaylist' playlist.id %}">
													Delete
												</a>
											</li>
										{% else %}
											<li style="color: rgb(124, 123, 123);">
												<img src="{% static 'images/Add.png' %}" alt="" width="25px;">
												<a href="#">
													Add Songs
												</a>
											</li>
											<li>
												<img src="{% static 'images/Add.png' %}" alt="" width="25px;">
												<a href="#">
													Save
												</a>
											</li>
											<li style="color: rgb(124, 123, 123);">
												<img src="{% static 'images/Add.png' %}" alt="" width="25px;">
												<a href="#">
													Delete
												</a>
											</li>
										{% endif %}
									{% else %}
										<li>
											<img src="{% static 'images/Add.png' %}" alt="" width="25px;">
											<a href="{% url 'core:addsongPl' playlist.id %}" class="owner-option" style="color: rgb(124, 123, 123);">
												Add Songs
											</a>
										</li>
										<li>
											<img src="{% static 'images/Add.png' %}" alt="" width="25px;">
											<a href="#" style="color: rgb(124, 123, 123);">
												Save
											</a>
										</li>
										<li style="color: rgb(124, 123, 123);">
											<img src="{% static 'images/Add.png' %}" alt="" width="25px;">
											<a href="{% url 'core:deleteplaylist' playlist.id %}">
												Delete
											</a>
										</li>
									{% endif %}
								</ul>
							</div>
							
						</div>
						
					</div>
				</div>
				<div style="flex: 1; display: flex; justify-content: flex-end; align-items: flex-end; margin-bottom: 10px;">
					<img src="{% static 'images/play2.png' %}" width="65px;" class="play_icon">
					<img src="{% static 'images/pause.png' %}" width="65px;" class="pause_icon">
				</div>
			</div>
			<div class="tracks-container" style="margin-top: 10px;" id="tracks-container">
				{% for song in songs %}
				<div class="song-container">
					<div class="song" id="songs" style="display: flex; align-items: center; box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); cursor: pointer; margin-bottom: 2px; position: relative;" data-song-url="{{ song.music_file.url }}" data-song-name="{{ song.song_name }}" data-song-artist="{{ song.artist_name }}" data-song-cover="{{ song.cover_image.url }}">
						<div class="App__quick-link-featured-img" style="background-image: url('{{ song.cover_image.url }}'); width: 80px; height: 80px;"></div>
						<div class="song-detail" style="flex: 1; margin: 0 1px;">
							<span style="font-weight: 600;">{{ song.song_name }}</span>
							<div><small style="font-weight: 400;">{{ song.artist_name }}</small></div>
						</div>
						
						<div class="songMenu">
							<div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
							<ul style="list-style-type: none;">
								<li style="padding: 0;">
									<a href="#" onmouseover="this.style.opacity=0.7;" onmouseout="this.style.opacity=1;">
										<img src="{% static 'images/dload2.png' %}" alt="" width="16px;">
									</a>
								</li>
								{% if request.user.is_authenticated %}
								<li style="padding: 0;">
									<a href="#" onmouseover="this.style.opacity=0.7;" onmouseout="this.style.opacity=1;">
										<img src="{% static 'images/Delete.png' %}" alt="" width="16px;">
									</a>
								</li>
								{% else %}
								<li style="padding: 0;">
									<a href="#" onmouseover="this.style.opacity=0.7;" onmouseout="this.style.opacity=1;">
										<img src="{% static 'images/Delete.png' %}" alt="" width="16px;" style="filter: grayscale(100%);">
									</a>
								</li>
								{% endif %}
							</ul>
						</div>
						</div>
						
						<div class="menu__for-Song" style="margin-top: 0.3%; position: absolute; right: 10%;">    
							<span>
								<img src="{% static 'images/menu5.png' %}" alt="" width="21px;" onmouseover="this.style.opacity=0.7;" onmouseout="this.style.opacity=1;">
							</span>
						</div>
						
						{% if request.user.is_authenticated %}
							{% if song in liked_songs %}
							<span class="fire__blackWhite" style="z-index: 999; margin-bottom: 0.3%; position: absolute; right: 20%; font-size: 21px; filter: grayscale(0%)" data-song-id="{{ song.id }}">🔥</span>
							{% else %}
							<span class="fire__blackWhite" style="z-index: 999; margin-bottom: 0.3%; position: absolute; right: 20%; font-size: 21px; filter: grayscale(100%)" data-song-id="{{ song.id }}">🔥</span>
							{% endif %}
						{% else %}
							<span class="fire__blackWhite" style="z-index: 999; margin-bottom: 0.3%; position: absolute; right: 20%; font-size: 21px; filter: grayscale(100%)">🔥</span>
						{% endif %}
						
						<div class="duration-container" style="display: flex; margin-left: auto; margin-right: 10px;">
							<span class="duration">{{ song.duration }}</span>
						</div>
					</div>
				</div>
				
				{% endfor %}
			</div>
		</div>
	</section>
</div>
{% endblock %}
