{% extends 'core/base.html' %}
{% block title %} Home{% endblock %}
{% load static %}
{% block content %}
<div class="App__main-view">
	<div class="App__top-gradient">

	</div>
	<!-- <div class="App__header-placeholder"></div> -->
	<section class="App__section" style="margin-top: 10px;">
		<div class="songs_container" style="height: 100vh;">
			<div class="description" style="display: flex; gap: 20px;">
				<div class="playlist-image">
					<img src="{{ playlist.cover.url }}" width="200px;" style="border-radius: 7px; flex: 1;">
				</div>
				<div class="playlist-info" style="flex: 2; display: flex; flex-direction: column; justify-content: space-around;">
					<div>
						<h5>Playlist</h5>
						<h3>{{ playlist.playlist_name }}</h3>
						<small>by {{ playlist.owner }}</small>
					</div>
					<div class="buttons" style="display: flex; gap: 8px;">
						<img src="{% static 'images/filled.png' %}" width="20px;">
						<img src="{% static 'images/dload1.png' %}" width="20px;">
						<img src="{% static 'images/more3.png' %}" width="20px;">
					</div>
				</div>
				<div class="play_icon" style="flex: 1; display: flex; justify-content: flex-end; align-items: flex-end; margin-bottom: 10px;">
					<img src="{% static 'images/play1.png' %}" width="50px;">
				</div>
			</div>
			<div class="tracks-container" style="margin-top: 10px;" id="tracks-container">
				{% for song in songs %}
				<div class="song-container">
					<div class="song" id="songs" style="display: flex; align-items: center; box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); cursor: pointer; margin-bottom: 2px;" data-song-url="{{ song.music_file.url }}" data-song-name="{{ song.song_name }}" data-song-artist="{{ song.artist_name }}">
						<div class="App__quick-link-featured-img" style="background-image: url('{{ playlist.cover.url }}'); width: 80px; height: 80px;"></div>
						<div class="song-detail" style="flex: 1; margin: 0 1px;">
							<span style="font-weight: 600;">{{ song.song_name }}</span>
							<div><small style="font-weight: 400;">{{ song.artist_name }}</small></div>
						</div>
						<div style="margin-left: auto; margin-right: 10px;">
							<span class="duration">{{ song.duration }}</span>
						</div>
					</div>
				</div>
				
				{% endfor %}
			</div>
		</div>
	</section>
</div>
{% endblock %}
