<a href="/">Home</a>

{% for list in playlists %}
	<a href='{% url 'core:playlist-songs' list.id %}'>
		<li>{{ list.playlist_name }} by <a href="{% url 'core:profile' list.owner.username %}">{{ list.owner.username }}</a>  ---  {{ list.playlist_likes.count }} likes |<a href="{% url 'core:likeplaylist' list.id %}">like</a></li>
	</a>
{% endfor %}

{% for list in albums %}
	<a href='{% url 'core:album-songs' list.id %}'>
		<li>{{ list.album_name }} by <a href="{% url 'core:profile' list.owner.username %}">{{ list.owner.username }}</a>  ---  {{ list.playlist_likes.count }} likes |<a href="{% url 'core:likeplaylist' list.id %}">like</a></li>
	</a>
{% endfor %}

{% if user.bio %}
	{{ user.bio }}
{% endif %}
<div>
<img src="{{ user.avatar.url }}" width='100px'>
<div>

{% if user == request.user %}
<a href="{% url 'core:editprofile' user.username %}">Edit</a>
{% endif %}